.site-main .intro-logo {
  display: block;
  padding-top: 60px;
  margin-left: 60px;
  position: relative;
}

.site-main .intro-logo img{
  display: inline-block;
}

.site-main .intro-list{
  width: 80%;
  margin: 31px auto;
  height: auto;


}
.site-main .intro-wrap{
  background:  #fafafa;
  padding-bottom: 80px;
  border-bottom: 1px solid #6E6060;
}
.site-main .intro-list span{
  color: #4a4a4a4a;
  font-size: 14px;
  line-height: 16px;
}



/*partner*/
